{% load i18n %}
<a href="#" onclick="document.setLangEnglish.submit(); return false;">English</a>
<form name="setLangEnglish" action="/i18n/setlang/" method="POST">
	{% csrf_token %}
	<input name="next" type="hidden" value="/" />
	<input type="hidden" name="language" value="en"/>
</form>

<a href="#" onclick="document.setLangPortugues.submit(); return false;">Português</a>
<form name="setLangPortugues" action="/i18n/setlang/" method="POST">
	{% csrf_token %}
	<input name="next" type="hidden" value="/" />
	<input type="hidden" name="language" value="pt-br"/>
</form>

<br />
Tradução vinda do Django: {{ recado }}
<br />
Tradução direto no Template: {% trans "Olá turma do mal!" %}
<br />
Tradução direto no template (Bloco): {% blocktrans %}Esse é o bloco de conteúdo! {% endblocktrans %}
<br />


<h1>Index</h1>

<br/>
Conteudo normal do site
</br>
</br>

{% if user.is_authenticated %}
	Se deseja mostrar algo com o usuario logado em QUALQUER template...
	<br/>
	<a href="/dashboard/">Painel de Controle</a>
	<br/>
	<a href="/logoff/">Clique aqui para sair</a>
	<br/>

{% endif%}
</br>
</br>
<a href="/login/">Clique para fazer o login</a> 
</br>
<a href="/cadastro/">Clique para fazer o cadastro</a>